[Unit]
Description=Rotate wallpapers every 10 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
AccuracySec=10s

[Install]
WantedBy=timers.target
