[Unit]
Description=Cleanup old ZFS pacman snapshots
After=zfs.target

[Service]
Type=oneshot
ExecStart=/home/troyborg/dotfiles/scripts/zfs-rollback.sh cleanup 30 true
StandardOutput=journal
StandardError=journal
