[Unit]
Description=Weekly cleanup of old ZFS pacman snapshots
Requires=zfs-pacman-snapshot-cleanup.service

[Timer]
OnCalendar=weekly
Persistent=true

[Install]
WantedBy=timers.target
